@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Artegra';
  src: url('./../../../assets/fonts/artegra/Artegra_Sans-Alt-400-Regular.otf');
}

@font-face {
  font-family: 'Artegra-Medium';
  src: url('./../../../assets/fonts/artegra/Artegra_Sans-500-Medium.otf');
}

@font-face {
  font-family: 'Artegra-Bold';
  src: url('./../../../assets/fonts/artegra/Artegra_Sans-700-Bold.otf');
}

@font-face {
  font-family: 'Artegra-Semibold';
  src: url('./../../../assets/fonts/artegra/Artegra_Sans-Alt-600-SemiBold.otf');
}
